body {
  background-color: rgba(0, 0, 0, 0.99);
}
h1 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 1000%;
}
.salute:hover .hello {
  display: none;
}
.salute:hover .about::before {
  content: "About";
}
.ablink:link,
.wolink:link,
.colink:link {
  text-decoration: none;
}
.me:hover .iam {
  display: none;
}
.me:hover .work::before {
  content: "Work";
}
.name:hover .aspin {
  display: none;
}
.name:hover .contact::before {
  content: "Contact";
}
.me,
.name {
  color: rgb(255, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.home, .about {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
#psy,
#psy2 {
  width: 750px;
  height: 750px;
}
#title {
    font-size: 420%;
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#words, #desc {
    color: rgba(255, 255, 255, 0.99);
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image,
.picture {
    padding-left: 30px;
}
.about {
    padding-top: 5%;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 5%;
}
.bandlink:link,
.kitchenlink:link,
.farmlink:link {
    text-decoration: none;
}
.favband:hover,
.anitaskitchen:hover,
.dairyfarm:hover {
    box-shadow: 0.5px 0.5px 0.5px 1.5px white;
}
li {
    color: rgb(255, 0, 0);
    font-size: 180%;
}
li:hover {
    color: rgba(255, 255, 255, 0.99);
}
#email:link,
#fb:link,
#twitter:link,
#ig:link {
    text-decoration: none;
}
#email:visited,
#fb:visited,
#twitter:visited,
#ig:visited {
    text-decoration: none;
}
#email, #fb, #ig, #twitter {
    margin: 10px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-top: 5%;
}